{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Voxel Globe - Add files{% endblock %}

{% block includes %}

<link rel="stylesheet" href="{% static 'fileUpload/css/style.css' %}">
<link rel="stylesheet" href="{% static 'fileUpload/css/jquery.fileupload.css' %}">
<link rel="stylesheet" href="{% static 'fileUpload/css/jquery.fileupload-ui.css' %}">

<script src="{% static 'fileUpload/js/jquery.fileupload.js' %}"></script>
<script src="{% static 'fileUpload/js/jquery.fileupload-process.js' %}"></script>
<script src="{% static 'ingest/js/addFiles.js' %}"></script>

<style>

.uploadEntry {
  display: block;
  vertical-align: top;
}
.pendingUpload {
  list-style-image: url({% static 'main/icons/' %}upload_pending.png);
}

</style>
{% endblock %}

{% block globalfunctions %}
// Global functions defined outside of the jquery document ready function
// can be put here.

var pendingIcon = "{% static 'main/icons/' %}" + "upload_pending.png";
var progressIcon = "{% static 'main/icons/' %}" + "upload_progress.png";
var successIcon = "{% static 'main/icons/' %}" + "upload_success.png";
var failIcon = "{% static 'main/icons/' %}" + "upload_fail.png";
var upload_types = {{ uploadSession.upload_types|safe }};
var payload_type = "{{ uploadSession.payload_type }}";
var metadata_type = "{{ uploadSession.metadata_type }}";
var uploadType;
var url;

{% endblock %}

{% block javascript %}

// Setup the endpoints according to whether this is an image or ctrlpt upload
// TODO this works for now, but will need a fix when we put all upload types
// in the upload_types var rather than having them separated out
if (payload_type == "None" && metadata_type == "None" 
    && upload_types.controlpoint_type) {
  uploadType = "controlpoint";
  var url = '{% url "ingest:uploadControlpointEndpoint" %}';
  document.filedropform.action = "{% url "ingest:uploadControlpointEndpoint" %}";
  document.ingestfolder.action = "{% url "ingest:ingestFolderControlpoint" %}";
  $(".uploadType").text("control point");
} else {
  uploadType = "image";
  var url = '{% url "ingest:uploadImageEndpoint" %}';
}

{% endblock %}

{% block pageTitle %}<h2>Add Files</h2> {% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

  <h1>Add <span class="uploadType">image</span> files for <em>{{ uploadSession.name }}</em></h1>

  <div class="horizontal-scroll-outer">
    <div class="horizontal-scroll-inner">
      Drag and drop <span class="uploadType">image</span> files onto this page, or click Select Files to browse.
        <form action="{% url "ingest:uploadImageEndpoint" %}" 
            name="filedropform" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <input type="hidden" name="uploadSession" value="{{ uploadSession.id }}" />
            <input type="hidden" name="directory" value="{{ directory.id }}" />
            <input type="hidden" name="testFile" value="{{ testFile.id }}" />
            <input id="fileupload" type="file" name="filedrop" style="display:none" multiple>
        </form>
        
        <form action="{% url "ingest:ingestFolderImage" %}" name="ingestfolder" method="post">
          {% csrf_token %}
          <input type="hidden" name="uploadSession" value="{{ uploadSession.id }}" />
        </form>
       
        <div class="button-wrapper">
        <button id="fakeUpload" class="ingest-button">
          Select files...
        </button>

        <div style="display:inline-block; width:40px;"> </div>

        <button id="doIngest" class="ingest-button">
          Upload Selected Files
        </button>

        <!--
          A temporary button that aborts the current upload, used in debugging
          upload failures. To reimplement the button: 
            1. uncomment this HTML code
            2. uncomment its listener in addFiles.js
            3. delete the lines in the onFail() function that cause it to exit
            if the error it encountered was upload abortion.

        <button id="tempAbort" class="ingest-button">
          Abort!
        </button>-->
        
        <button id="clearButton" class="ingest-button">
          Clear Selected Files
        </button>

        <div style="display:inline-block; width:40px;"> </div>

        <button id="processButton" class="ingest-button">
          Process Uploaded Files
        </button>
        </div> <!-- .button-wrapper -->
        

      <h3 id="fileListHeader">Files Selected for Upload</h3>
      <div id="selectedImages"></div>

    </div> <!-- .horizontal-scroll-inner -->
  </div> <!-- .horizontal-scroll-outer -->
</div> <!-- .main-content -->

<div id="debugInfo">
</div>
{% endblock %}
