{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Voxel Globe - Upload{% endblock %}

{% block includes %}

<script src="{% static 'ingest/js/chooseSession.js' %}"></script>

<style>

@import url({% static 'fileUpload/css/style.css' %});
@import url({% static 'ingest/css/ingest.css' %});

</style>

{% endblock %}

{% block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.

function load(i) {
  window.open("{% url "ingest:addFiles" %}?upload="+i,'_top');
}
{% endblock %}

{% block javascript %}{% endblock %}

{% block pageTitle %}<h2>Upload</h2> {% endblock %}

{% block content %}

<div id="mainContainer" class="main-content">

<button id="newSession">
  Start New Upload
</button>

<p id="orSelectNew">Or select an existing upload from the list:</p>
<select id="availableSessions"></select>
<button id="oldSession">Go</button>

</div> <!-- #mainContainer -->

<div id="newSessionDialog">
  <p>Enter a name for the session:
  <input id="newSessionId" type="text" value='{{ uploadSession.id }}'></input>
  </p>
  <p>
  <label><input type="radio" name="uploadCategory" value="image" checked>Images</label><br>
  <label><input type="radio" name="uploadCategory" value="controlPoint">Control Points</label><br>
  </p>
  
  <div id="img-options">
    <p>Metadata Type:</p>
    <select id="metadata_type">
    {% for key,value in metadata_types.items %}
      <option value="{{ key }}">{{ value.description }}</option>
    {% endfor %}
    </select>

    <p>Payload Type:</p>
    <select id="payload_type">
    {% for key,value in payload_types.items %}
      <option value="{{ key }}">{{ value.description }}</option>
    {% endfor %}
    </select>
  </div> <!-- #img-options -->

  <div id="ctrl-pt-options">
    <p>Control Point Type:</p>
    <select id="controlpoint_type">
    {% for key,value in controlpoint_types.items %}
      <option value="{{ key }}">{{ value.description }}</option>
    {% endfor %}
    </select>
  </div> <!-- #ctrl-pt-options -->
</div> <!-- #newSessionDialog -->

<div id="debugInfo"></div>

{% endblock %}
