{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Voxel Globe - Order DEM{% endblock %}
{% block pageTitle %}<h2>Order DEM</h2>{% endblock %}

{% block includes %}

<!-- Include the client side javascript code -->

<style>
@import url("{% static 'main/css/form.css' %}");
</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
$(function(){
  $('#id_voxel_world').change(function(){
    $('#render_height_helper')[0].innerHTML = 'Loading...'
    $.get("/meta/rest/auto/voxelworld/"+$('#id_voxel_world')[0].value, function(data){
      $.get("/meta/fetch_voxel_world_bbox/"+$('#id_voxel_world')[0].value, function(bbox){
        origin_height = data['origin']['coordinates'][2]
        height_min = bbox[0][2] + origin_height
        height_max = bbox[1][2] + origin_height
        $('#render_height_helper')[0].innerHTML='Height spans between ' + height_min + 'm and ' + height_max + 'm (' + origin_height + 'm)'
      }, 'json');
    }, 'json');
  });
});

{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

<form action="{% url 'order_height_map:make_order' %}" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table><span id="render_height_helper"></span><br>
    <input id="submit" type="submit" value="Submit" />
</form>

</div>
{% endblock %}