.imgBanner {
    width: 80%;
    max-width: 370px;
    background: rgba(0,0,0,0.85);
    border-radius: 10px 0px 0px 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 10px 10px 20px;
    z-index: 15;
    font-size: .75em;
    pointer-events: none;
    display: none;
}

.imgBanner img {
    width: 6em;
    line-height: 1em;
    margin: 0 1em 0 0;
    display: inline-block;
    vertical-align: middle;
}

.imgBanner .p1 {
    font-family: Courier;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    width: calc(100% - 7em);
    vertical-align: top;
}

.imgBanner .p2 {
    font-family: Courier;
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
}
