[submodule "external/vxl_src"]
	path = external/vxl_src
	url = https://github.com/VisionSystemsInc/vxl.git
[submodule "external/vsi"]
	path = external/vsi
	url = https://bitbucket.org/visionsystemsinc/vsi_common.git
