[submodule "external/vxl_src"]
	path = external/vxl_src
        url = https://git.code.sf.net/p/vxl/git
	pushurl = ssh://git.code.sf.net/p/vxl/git 
[submodule "external/vsi"]
	path = external/vsi
	url = https://bitbucket.org/visionsystemsinc/vsi_common.git
        pushurl = git@bitbucket.org:visionsystemsinc/vsi_common.git
