*~
*.py[co]
*.lnk

logs
.project
.pydevproject
.settings
.ipynb_checkpoints
vip.b*
local_vip.*
external/vxl
tmp
notebooks/profile
notebooks/ipython

external/bin_Linux*/bin
external/bin_Linux*/sbin
external/bin_Linux*/include
external/bin_Linux*/lib
external/bin_Linux*/roam
external/bin_Linux*/share
external/bin_Linux*/src
external/bin_Linux*/var
external/bin_Linux*/conf
external/bin_Linux*/usr
external/bin_Linux*/firewall.*

external/bin_Windows*/Apache24
external/bin_Windows*/python
external/bin_Windows*/postgresql
#log*
external/bin_Windows*/erlang
external/bin_Windows*/rabbitmq_server
external/bin_Windows*/osgeo4w
external/bin_Windows*/vips
external/bin_Windows*/redis
external/bin_Windows*/visualsfm
external/bin_Windows*/vxl

voxel_globe/static_common/*/