[submodule "external/vxl_src"]
	path = external/vxl_src
	url = git@bitbucket.org:visionsystemsinc/vip_vxl.git
[submodule "external/vsi"]
	path = external/vsi
	url = git@bitbucket.org:visionsystemsinc/vsi_common.git
