*~
*.py[co]
*.lnk
*.log

gdbinit
gdb_rsa
local_vip.env
local_vip_post.env
external/vxl
tmp
storage
images
static_deploy
notebooks/profile
notebooks/ipython
voxel_globe/vip/secret_key.py

external/python_libs

voxel_globe/static_common/*/

data/*/
