{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Voxel Globe - Tie Point {% endblock %}

{% block includes %}

<script src="{% static 'cesium/Build/Cesium/Cesium.js' %}"></script>
<script src="{% static 'OpenLayers3/ol-debug.js' %}"></script>

<!-- Include the client side javascript code -->
<script src="{% static 'tiepoint/js/tiePointCreator.js' %}"></script>
<script src="{% static 'tiepoint/js/tiepointImageView.js' %}"></script>
<script src="{% static 'main/js/baseMap.js' %}"></script>
<script src="{% static 'tiepoint/js/mapView.js' %}"></script>
<script src="{% static 'image_view/js/paginator.js' %}"></script>
<script src="{% static 'tiepoint/js/controlPointOptions.js' %}"></script>
<script src="{% static 'image_view/js/basicImageView.js' %}"></script>

<style>
    @import url({% static 'cesium/Build/Cesium/Widgets/shared.css' %});
    @import url({% static 'cesium/Build/Cesium/Widgets/widgets.css' %});
    @import url({% static 'OpenLayers3/ol.css' %});
    
    #pageTitle {
        min-width: 360px;
    }

    #mainContainer {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #sideBuffer {
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 98%;
        width: 22px;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    #mapContainer {
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 97.3%;
        width: 33%;
        margin: 0;
        overflow: hidden;
        margin: 0px 0px 0px 27px;
        padding: 0;
    }
    #imageContainer {
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 98%;
        width: 61%;
        overflow: hidden;
        padding: 0;
    }
    .imageWidget {
        display: inline-block;   
        background-color:#f5f5f5;     
        position:relative;
/*      	font-size: 75%;*/
        height: 49%;
        width: 24%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        border : 1px solid black;
    }
    .imageToolbar {
        display: block;
        position:absolute;
        bottom:0px;
        left:0px;
        z-index:20;
        height: auto;
        width: 98%;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    .imageToolbarLabel {
    	background-color: #f5f5f5;
    	opacity: 0.8;
        font-size: 75%;
    }

    .imageContents {
        display: block;
        position:absolute;
        top:0px;
        left:0px;
        z-index:10;
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        font-size: 0;
    }

    #mapWidget {
        vertical-align: top;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    #showMapDiv {
        position: absolute;
        top: 0.4em;
        right: 7%;
        z-index: 48;
        color: black;
    }

    #showMap {
        vertical-align: middle;
    }

    #id_image_set, #id_camera_set {
        width: 280px;
        margin: 0px 3px;
    }

    #videoSelectorDiv, #controlPointSelectorDiv {
        cursor: pointer;
    }

    .imgOpt {
        display:inline-block;
        margin:0px 20px 0px 0px;
        vertical-align: middle;
        line-height: 2em;
    }

    #estimateCameraLocs {
        display:inline-block;
        margin:0px 20px 0px 0px;
        vertical-align: middle;
        line-height: 2em;
    }

    #showAdvancedOptions, #hideAdvancedOptions {
        cursor: pointer;
    }

    .slideout .ui-button {
        display: inline-block;
        margin: 4px 2px;
    }

    #videoList, #controlPointList {
        margin-top: 10px;
        background-color: #ffffff;
        overflow: auto;
    }

    .slideout-content {
        top: -48px;
        left: 27px;
    }

    #imageInstructions {
        margin-top: 10px;
        display: none;
    }

    #imageOptions {
        margin-left: 25px;
    }

    .activePointSelect {
        margin: 0;
    }

</style>
{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
var iconFolderUrl = "{% static 'tiepoint/icons/' %}";
//var bannerUrl = "{% static 'image_view/icons/banner.png' %}";
var attributionFolderUrl = "{% static 'image_view/icons/' %}";
var attributionMode = "small";
var attributionLocation = "topright";
var mainViewer = new TiePointMain();
{% endblock %}

{% block javascript %}

  var params = grabParams();
  if (params['debug'] == 'true') {
  	$('#debugDiv').toggle(true);
  } else {
  	$('#debugDiv').toggle(false);
  }
  mainViewer.initializeDataAndEvents();

{% endblock %}
        
{% block pageTitle %}<h2>Tie Point Creator</h2>{% endblock %}
{% block debugOptions %}
{% endblock %}

{% block content %}

<div id="mainContainer" class="main-content">

    <div class="slideout">
    	<div style="display:inline-block;">
        <img id="videoSelectorDiv" width="20" src="{% static 'tiepoint/icons/imageicon.png' %}" title="Load an Image Set."></img><br>
        <img id="controlPointSelectorDiv" width="20" src="{% static 'tiepoint/icons/globe.png' %}" title="Configure the displayed control points."></img>
        </div>
        <div id="sideControlsContentDiv" class="slideout-content" style="overflow:auto;">
            <div id="sideControlsContent" style="margin: 0px 10px 5px 10px; font-size:90%;">
                <div id="videoSelectionOptions" style="display:none;">                    
                    <h3>Image Sets</h3>  
                    <i>Load Image Sequence into the Editor</i>                                     
                    <!-- <input type="text" width="20"></input>&nbsp;<button style="font-size:90%;">Filter Videos</button><br> -->                    
                    <div id="videoList"></div>
                    <div id="imageInstructions">
                        Click and drag to pan<br>
                        Scroll to zoom<br>
                        Alt + Shift + drag to rotate<br>
                    </div>
	            </div>
                <div id="controlPointSelectionOptions" style="display:none;">
	                 <h3>Control Points</h3>
	                 <i>Choose the control points to display.</i>
	                 <div id="controlPointList" style="height:325px;">
	                    </div>                
	                 <div id="controlPointToolbar">
	                    <button id="selectAllControlPoints" class="small-button" title="Select All control points for display">Select All</button>
                        <button id="clearSelectedControlPoints" class="small-button" title="Clear displayed control point list">Clear All</button>
	                    <button id="selectImgControlPoints" class="small-button" title="Select control points referenced in images for display">Select Matching Points</button>
	                </div>               
                </div>                
            </div>
        </div>
    </div>

<div id="editorContentDiv" style="position:relative; overflow:hidden;">
    <div id="sideBuffer">
    </div>
    <div id="mapContainer">
       <div id="mapWidget" >
            <!--<canvas id="zoomSlider" style="z-index:15;position:absolute;top:0;right:0;width:50px;height:100px;background-color:yellow;opacity:0.75;"></canvas> -->
       </div>
    </div>
    <div id="imageContainer">           
    </div>
    <div id="showMapDiv"><input type="checkbox" id="showMap"></input>
    Display Map</div>
</div>

<div class="left">
    <div id="imageOptions">
        <div id="controlPointOptions" class="imgOpt"></div>
        <div class="imgOpt">Display <input type="number" value="1" id="numImagesPerPage" min="1" max="8" style="width:25px"></input> Images Per Page</div>
        <div id="paginator" style="display:inline-block;"></div>
        <button class="imgOpt" id="estimateCameraLocs">Compute Camera Locations</button>
        <div id="controlPointEditingStatus" style="font-size:90%;"></div>
    </div> <!-- #imageOptions -->
    <div id="advancedOptions" style="margin:5px 5px 5px 25px;font-size:90%;">
        <a id="showAdvancedOptions" class="imgOpt">Show Advanced Options</a>
        <div id="advancedOptionsDiv" class="imgOpt">
            <a id="hideAdvancedOptions" class="imgOpt">Hide Advanced Options</a>
            <div class="imgOpt">Frustum Size (meters) <input type="number" value="1" id="frustumSize" min="0" max="10000" style="width:60px"></input></div>
            <div class="imgOpt">Zoom in on Tie Point<input type="checkbox" id="zoomTiePoint"></input></div>
            <div class="imgOpt">Zoom Level <input type="number" value="5" id="zoomTiePointLevel" min="0" max="10" style="width:60px"></input></div>
        </div> <!-- #advancedOptionsDiv -->
    </div> <!-- #advancedOptions -->
    
</div> <!-- .left -->

<div class="right">
    
</div> <!-- .right -->

<div id="debugDiv" style="display:none;">
	<button id="printDebugBtn" style="margin:0px 40px;font-size:80%">Print Debug Info</button>
	<div id="debugInfo"></div>
</div>
</div> <!-- #mainContainer .main-content -->

{% endblock %}