{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Voxel Globe - View Voxel World{% endblock %}
{% block pageTitle %}<h2>Pick a Voxel World</h2>{% endblock %}
{% block includes %}
<style>
</style>
{% endblock %}
{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}
{% block javascript %}
{% endblock %}
{% block content %}
<div id="mainContainer" class="main-content">

{% if voxel_world_list %}
<form method="post" action="{% url 'voxel_viewer:ingest_point_cloud' %}">
{% csrf_token %}
    {% for voxel_world in voxel_world_list %}
        <input type="radio" name="id" value="{{ voxel_world.id }}">{{ voxel_world.name }} - [{{ voxel_world.id }}]<br>
    {% endfor %}
    <input type="submit" value="Ingest point cloud">
</form>
{% else %}
    <p>No image collections are available.</p>
{% endif %}

</div>
{% endblock %}