{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Point Cloud Viewer {% endblock %}

{% block includes %}
  <script src="{% static 'potree/libs/other/stats.min.js' %}"></script>
  <script src="{% static 'potree/libs/other/dat.gui.min.js' %}"></script>
  <script src="{% static 'potree/libs/other/BinaryHeap.js' %}"></script>
  <script src="{% static 'potree/libs/three.js/build/three.js' %}"></script>
  <script src="{% static 'potree/build/js/potree.js' %}"></script>
  
  <script src="{% static 'voxel_viewer/js/ProgressBar.js' %}"></script>

  <style>

    #mainContainer {
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 100%;
        width: 100%;
    }
    #sideBuffer {
        /*        background-color: red; */
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 98%;
        width: 22px;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

#renderArea{
  width: 1000px; 
  height: 800px; 
}

.info{
  color:    white;
  font-weight: bold;
  text-shadow:  1px  1px 1px black,
          1px -1px 1px black,
         -1px  1px 1px black,
         -1px -1px 1px black;
}

a:hover, a:visited, a:link, a:active{
  color: #ccccff;
  text-decoration: none;
}

canvas { 
  width: 1000px; 
  height: 800px; 
}

</style>

{% endblock %}

{% block javascript %}

var worlds = [];
$.get("/meta/rest/auto/pointcloud", function (data) {
  $("#voxelWorldList").html("");
  worlds = data;
  for (var i = 0; i < worlds.length; i++) {
    $("#voxelWorldList").append('<option value=' + i + '>' + worlds[i].name + '</option></br>');
  }
  console.log(data.length + " point clouds were loaded.");
});

var popup = $('#voxelWorldChooserDialog').dialog({autoOpen : false, modal : true, 
     buttons: {
    "Load The Voxel World": function() {
        loadVoxelWorld();
        $(this).dialog( "close" );
    },
    "Cancel": function() {
            popup.dialog( "close" );
            }
    },
    width: "70%",
    maxWidth: "768px"
});

$('#loadVoxelDataBtn').click(function (e) {
    popup.dialog("open");  
});

function loadVoxelWorld() {
  var selectedWorldIndex = $('#voxelWorldList').find(":selected").val();
  var worldInfo = worlds[selectedWorldIndex];

  if (worldInfo.cloud_url) {
    pointcloudPath = worldInfo.cloud_url; // TODO, Andy, wire up the right name for your cloud location
  } else {
    pointcloudPath = "/images/vol_total/cloud.js";
  }
  
  initThree();
  loop();

  $('#voxelWorldStatus').html("Loaded voxel world: " + worldInfo.name);
  
  $('#loadVoxelDataBtn').hide();
  $('#viewerContentDiv').show();
}
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

{% endblock %}

{% block pageTitle %}<h2>Point Cloud Voxel World Viewer</h2>{% endblock %}
{% block debugOptions %}

{% endblock %}

{% block content %}

<div id="mainContainer" class="main-content">
 
<button id="loadVoxelDataBtn">Load A Voxel World</button>

<!--<button id="loadVoxelDataBtn">Load A Voxel World</button> -->
 <div id="viewerContentDiv" style="position:relative; display:none;">
  <div id="potreeOptionsMenu" style="position: absolute; top: 0px; left: 740px; "></div>
  
  <!-- INFOS / STATS -->
  <div id="lblNumVisibleNodes" class="info" style="position: absolute; left: 40px; top: 180px; width: 400px; color:white"></div>
  <div id="lblNumVisiblePoints" class="info" style="position: absolute; left: 40px; top: 200px; width: 400px; color:white"></div>
  <div id="lblMessage" class="info" style="position: absolute; left: 40px; bottom: 0px; width: 400px; color:white"></div>
  
  <div id="renderArea"></div>

  <!-- TOOLS -->
  <div id="tools" style="position: absolute; width: 1000px; bottom: 0px; left: 0px; text-align: right;">
    <img src="{% static 'voxel_viewer/icons/earth_controls_1.png' %}" onclick="useEarthControls()" title="Earth Controls"/>
    <img src="{% static 'voxel_viewer/icons/fps_controls.png' %}" onclick="useFPSControls()" title="Fly Camera"/>
    <img src="{% static 'voxel_viewer/icons/orbit_controls.png' %}" onclick="useOrbitControls()" title="Orbit Controls"/>
    <img src="{% static 'voxel_viewer/icons/focus.png' %}" onclick="camera.zoomTo(pointcloud)" title="focus on pointcloud"/>
    <img src="{% static 'voxel_viewer/icons/flip_y_z.png' %}" onclick="flipYZ()" title="flip y and z coordinates"/>
    <img src="{% static 'voxel_viewer/icons/angle.png' %}" onclick="measuringTool.startInsertion({showDistances: false, showAngles: true, showArea: false, closed: true, maxMarkers: 3})" title="angle measurements"/>
    <img src="{% static 'voxel_viewer/icons/distance.png' %}" onclick="measuringTool.startInsertion({showDistances: true, showArea: false, closed: false})" title="distance measurements"/>
    <img src="{% static 'voxel_viewer/icons/area.png' %}" onclick="measuringTool.startInsertion({showDistances: true, showArea: true, closed: true})" title="area measurements"/>
    <img src="{% static 'voxel_viewer/icons/volume.png' %}" onclick="volumeTool.startInsertion()" title="volume measurements"/>
    <img src="{% static 'voxel_viewer/icons/profile.png' %}" onclick="profileTool.startInsertion({width: pointcloud.boundingSphere.radius / 100})" title="height profiles"/>
    <img src="{% static 'voxel_viewer/icons/clip_volume.png' %}" onclick="volumeTool.startInsertion({clip: true})" title="clipping volumes"/>
    </div>
</div>
</div>

<div id="voxelWorldStatus" style="margin:5px 5px 5px 40px;font-size:90%;">
</div>

<div id="voxelWorldChooserDialog" title="Choose A Voxel World To View">

<div>

    <form>
        <fieldset>
    <label>Select a Voxel World: </label>
    <select id="voxelWorldList">
    </select>
    </fieldset>
    </form> 
</div>

<script>
var sceneProperties = {
      path:     "",
      cameraPosition: null,
      cameraTarget: null,
      sizeType:     "Adaptive",     // options: "Fixed", "Attenuated", "Adaptive"
      quality:    "Interpolation",  // options: "Squares", "Circles", "Interpolation", "Splats"
      fov:      75,         // field of view in degree
      material:     "RGB",        // options: "RGB", "Height", "Intensity", "Classification"
      pointLimit:   1,          // max number of points in millions
      navigation:   "Orbit",      // options: "Earth", "Orbit", "Flight"
      pointSize:    1.2,  
      useEDL:     false,        // eye-dome-lighting, especially usefull for point clouds without normals
    };  

var skyboxPath = "{% static 'voxel_viewer/textures/skybox/' %}";

</script>
<script src="{% static 'voxel_viewer/js/viewer.js' %}"></script>

{% endblock %}
