{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Voxel Globe - Order SFM{% endblock %}
{% block pageTitle %}<h2>SFM Ordered</h2>{% endblock %}

{% block includes %}

<!-- Include the client side javascript code -->

<style>
</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">
{% if image_list %}
    Task {{ task_id }} (<a href="{% url 'order_visualsfm:order_status' task_id %}">get task status</a>) started using origin {{ origin }} to process:
    <ul>
    {% for image in image_list.all %}
        <li>{{ image.name }} - [{{ image.id }}]</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No images are available.</p>
{% endif %}

</div>
{% endblock %}