{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Voxel Globe - Order SFM{% endblock %}
{% block pageTitle %}<h2>Pick an image set</h2>{% endblock %}

{% block includes %}

<!-- Include the client side javascript code -->

<style>
</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

{% if image_set_list %}
    <ul>
    {% for image_set in image_set_list %}
        <li><a href="{% url 'visualsfm:make_order_2' image_set.id %}">{{ image_set.name }} - [{{ image_set.id }}]</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No image sets are available.</p>
{% endif %}

</div>
{% endblock %}