.progress-bar-outer {
  width: calc(100% - 22px);
  height: 2em;
  border: 1px solid #d3d3d3;
  border-radius: 0.3em;
  margin: 0 10px 10px 10px;
}

.progress-bar-inner {
  background-color: #b3b3b3;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 0px;
  height: calc(100% - 2px);
  margin: 1px;
  border-radius: 0.2em;
}