{% extends "main/common_header.html" %}
{% load staticfiles %}

<!-- Include the client side javascript code -->
{% block includes %}

<script src="{% static 'build_voxel_world/js/buildVoxelWorldMain.js' %}"></script>

<script src="{% static 'cesium/Build/Cesium/Cesium.js' %}"></script>
<script src="{% static 'OpenLayers3/ol-debug.js' %}"></script>

<script src="{% static 'main/js/coordinates.js' %}"></script>
<script src="{% static 'main/js/baseMap.js' %}"></script>
<script src="{% static 'main/js/boundingBoxMap.js' %}"></script>
<script src="{% static 'main/js/mapHandles.js' %}"></script>

<style>

@import url({% static 'cesium/Build/Cesium/Widgets/shared.css' %});
@import url({% static 'cesium/Build/Cesium/Widgets/widgets.css' %});
@import url({% static 'OpenLayers3/ol.css' %});
@import url({% static 'main/css/boundingBox.css' %});
@import url({% static 'main/css/form.css' %});

</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
var main;
var mapViewer;
{% endblock %}

{% block javascript %}
main = new BuildVoxelWorldMain();
main.initialize();
{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

<div id="left">
  <form action="{% url 'build_voxel_world:make_order' %}" method="post">
    {% csrf_token %}
    <table>
    {{ form_base.as_table }}
    </table>

    <div id="bbox_degree" style="display: none;">
    <h4>Bounding box in terms of world coordinates:</h4>
    <table>
    {{ form_degree.as_table }}
    </table>
    </div> <!-- #bbox_degree -->

    <div id="bbox_meter" style="display: none;">
    <h4>Bounding box with respect to the scene's origin:</h4>
    <table>
    {{ form_meter.as_table }}
    </table>
    </div> <!-- #bbox_meter -->

    <div id="bbox_unit" style="display: none;">
    <table>
    {{ form_unit.as_table }}
    </table>
    </div>

    <div><span id="message_helper"></span></div>
    <div id="buttons">
      <input id="submit" type="submit" value="Submit" />
      <button id="reset">Reset</button>
    </div> <!-- #buttons -->
  </form>
</div> <!-- #left -->

<div id="right">
  <div id="mapWidget">
  </div> <!-- #mapWidget -->
</div> <!-- #right -->

</div> <!-- #mainContainer -->
{% endblock %}
