{% extends "main/common_header.html" %}
{% load staticfiles %}

<!-- Include the client side javascript code -->
{% block includes %}

<script src="{% static 'order/create_site/js/formListeners.js' %}"></script>
<script src="{% static 'order/create_site/js/drawBox.js' %}"></script>
<script src="{% static 'order/create_site/js/toolTip.js' %}"></script>
<script src="{% static 'cesium/Build/Cesium/Cesium.js' %}"></script>
<script src="{% static 'OpenLayers3/ol-debug.js' %}"></script>

<script src="{% static 'main/js/coordinates.js' %}"></script>
<script src="{% static 'main/js/baseMap.js' %}"></script>
<script src="{% static 'main/js/boundingBoxMap.js' %}"></script>
<script src="{% static 'main/js/mapHandles.js' %}"></script>

<style>

@import url({% static 'cesium/Build/Cesium/Widgets/shared.css' %});
@import url({% static 'cesium/Build/Cesium/Widgets/widgets.css' %});
@import url({% static 'OpenLayers3/ol.css' %});

#tooltip {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 4px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: -50;
  z-index: 100;
  display: none;
  cursor: default;
}

br {
  display: none;
}

</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.

{% endblock %}

{% block javascript %} {% endblock %}

{% block content %}
<div id="tooltip">Texty text</div>
<div id="mainContainer" class="main-content">

<div id="left">
  <form id="mainform" action="create_site:make_order" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <div id="buttons">
        <input type="submit" value="Submit" id="submit" />
        <button id="clear">Clear and redraw</button>
      </div> <!-- #buttons -->
  </form>
</div> <!-- #left -->

<div id="right">
  <div id="mapWidget">

  </div> <!-- #mapWidget -->
</div> <!-- #right -->


</div>
{% endblock %}