.rotation-controls {
  font-size: 1.2em;
  position: absolute;
}

.rotation-controls .ol-control {
  position: static;
  margin: 0.5em;
}

.ol-control button {
  cursor: pointer;
}

.rotation-slider-background {
  border-radius: 50%;
}

.rotation-slider-outer {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 8px solid rgba(0,60,136,.5);
  margin: 2px;
}

.rotation-slider-outer:hover {
  border-color: rgba(0, 60, 136, .7);
  cursor: pointer;
}

.rotation-slider-rectangle {
  height: 13px;
  width: 8px;
  margin-top: -9px;
  transform-origin: center bottom;
}

.rotation-slider-inner {
  width: 8px;
  height: 8px;
  background-color: #002266; /* TODO */
  border-radius: 50%;
  border: 1px solid white;
}
