{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Event Trigger Creator {% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'OpenLayers3/ol.css' %}" type="text/css">

<script src="{% static 'cesium/Build/Cesium/Cesium.js' %}"></script>
<script src="{% static 'OpenLayers3/ol-debug.js' %}"></script>

<!-- Include the client side javascript code -->
<script src="{% static 'event_trigger/js/eventTriggerImageView.js' %}"></script>
<script src="{% static 'event_trigger/js/eventTriggerCreator.js' %}"></script>
<script src="{% static 'image_view/js/basicImageView.js' %}"></script>
<!--<script src="{% static 'image_view/js/paginator.js' %}"></script>-->
<script src="{% static 'image_view/js/rotationControls.js' %}"></script>

<style>
    @import url({% static 'image_view/css/rotation.css' %});
    #sideBuffer {
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 100%;
        width: 22px;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    #imageContainer {
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 100%;
        width: 95%;
        overflow: hidden;
        padding: 0;
    }
    .planetWidget {
        display: inline-block;   
        position:relative;
        margin: 0;
        overflow: hidden;
        height: 99%;
        width: 95%;        
        padding: 0;
    }
    .imageWidget {
        display: block;   
        background-color: #f5f5f5;
        position:relative;
        margin: 0;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        overflow: hidden;
        border : 1px solid black;
        padding: 0;
    }
    .imageToolbar {
        display: block;
        position:absolute;
        bottom:0px;
        left:0px;
        z-index:20;
        height: auto;
        width: 98%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        font-size: 80%;
    }
    .imageToolbarLabel {
        background-color: #f5f5f5;
        opacity: 0.8;
    }

    .imageContents {
        display: block;
        position:absolute;
        top:0px;
        left:0px;
        z-index:10;
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        /*font-size: 0;*/
    }

    #id_site_set {
        width: 280px;
        margin: 0px 3px;
    }

    #videoSelectorDiv {
        cursor: pointer;
    }

    .imgOpt {
        display:inline-block;
        /*margin:10px 20px 0px 25px;*/
        vertical-align: middle;
        line-height: 1.5em;
    }

    #showAdvancedOptions, #hideAdvancedOptions {
        cursor: pointer;
    }

    .slideout .ui-button {
        display: inline-block;
        margin: 4px 2px;
    }

    #videoList {
        margin-top: 10px;
        background-color: #ffffff;
        overflow: auto;
    }

    .slideout-content {
        top: -24px;
        left: 27px;
    }
    label textarea{
        vertical-align: middle;
    }
    .ui-button-text {
        font-size: inherit !important;
    } 

    .drawStatusLabel {
      vertical-align: bottom;
      font-weight: bold;
      color : #0F0;
    }

    .unselectable {
        user-select: none;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
</style>
{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
var iconFolderUrl = "{% static 'event_trigger/icons/' %}";
var attributionFolderUrl = "{% static 'image_view/icons/' %}";
var attributionMode = 'large';
var attributionLocation = 'topleft';
var mainViewer = new EventTriggerCreator();
{% endblock %}

{% block javascript %}

  var params = grabParams();
  if (params['debug'] == 'true') {
    $('#debugDiv').toggle(true);
  } else {
    $('#debugDiv').toggle(false);
  }
  mainViewer.initializeDataAndEvents();
  
{% endblock %}
        
{% block pageTitle %}<h2>Event Trigger Creator</h2>{% endblock %}
{% block debugOptions %}
{% endblock %}

{% block content %}

<div id="mainContainer" class="main-content">

    <div class="slideout">
        <div style="display:inline-block;">
        <img id="videoSelectorDiv" width="20" src="{% static 'tiepoint/icons/imageicon.png' %}" title="Load an Image Set."></img><br>
        </div>
        <div id="sideControlsContentDiv" class="slideout-content" style="overflow:auto;">
            <div id="sideControlsContent" style="margin: 0px 10px 5px 10px; font-size:90%;">
                <div id="videoSelectionOptions" style="display:none;">                    
                    <h3>SatTel Sites</h3>  
                    <i>Select the event trigger site</i>                                     
                    <!-- <input type="text" width="20"></input>&nbsp;<button style="font-size:90%;">Filter Videos</button><br> -->                    
                    <div id="videoList" style="height:405px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="editorContentDiv" style="position:relative; overflow:hidden;">
    <div id="sideBuffer">
    </div>
    <div id="imageContainer">           
    </div>
</div>
<div class="left" style="height:auto;width:90%;margin-left:25px;margin-top:10px">
    <div id="triggerPropsDiv" style="margin-bottom:5px; font-size:80%;">
        <button id="editTriggerProperties" style="margin-bottom:5px; font-size:80%;">Edit Trigger</button><span id="triggerDetails" style="margin-left:5px"></span>
    </div>
    <div id="imageOptions">
        <div class="imgOpt">Display <input type="number" value="1" id="numImagesPerPage" min="1" max="4" style="width:25px"></input> Images Per Page</div>
        <!--<div id="paginator" style="display:inline-block;"></div> -->
    </div> <!-- #imageOptions -->
    <div id="advancedOptions" style="font-size:90%;">
        <a id="showAdvancedOptions" class="imgOpt">Show Advanced Options</a>
        <div id="advancedOptionsDiv" class="imgOpt">
            <a id="hideAdvancedOptions">Hide Advanced Options</a>
            <div class="imgOpt">Zoom Level <input type="number" value="5" id="zoomTiePointLevel" min="0" max="10" style="width:60px"></input></div>
        </div> <!-- #advancedOptionsDiv -->
    </div> <!-- #advancedOptions -->
</div> <!-- .left -->

<div id="debugDiv" style="display:none;">
    <button id="printDebugBtn" style="margin:0px 40px;font-size:80%">Print Debug Info</button>
    <div id="debugInfo">
    </div>
</div>

<div id="triggerFormDiv" style="display:none;" title="Trigger Region Properties">
    <form>
    <fieldset>
        <input id="trigger_region_id" style="display:none;" value=""/>
        <input id="trigger_image_id" style="display:none;" value=""/>
        <input id="trigger_shape_str" style="display:none;" value=""/>
        <p>
        <label for="trigger_name">Region Name:<label>
        <input id="trigger_name" cols="50" value=""/>
        </p>
        <p>
        <label for="trigger_desc">Description:<label><textarea id="trigger_desc" rows="4" cols="50"value=""></textarea>
        </p>
        <p>
        <label for="trigger_type">Region Type:<label>
        <select id="trigger_type">
            <option value="EVENT">EVENT</option>
            <option value="REFERENCE">REFERENCE</option>
        </select>
        </p>
        <label for="trigger_height">Shape Height (in meters): </label><input id="trigger_height" value="10" size=4 max=9999 min=0 style="height:16px; width:40px;" type=number></input>
        <p>

        <input type="submit" tabindex="-1" style="position:absolute; top:-100px">

         </fieldset>
    </form>
</div>
</div>


{% endblock %}