{% extends "main/common_header.html" %}
{% load staticfiles %}

<!-- Include the client side javascript code -->
{% block includes %}
<!-- Include the client side javascript code -->
<script src="{% static 'OpenLayers3/ol-debug.js' %}"></script>
<script src="{% static 'image_view/js/applicationImageView.js' %}"></script>
<script src="{% static 'image_view/js/basicImageView.js' %}"></script>
<script src="{% static 'image_view/js/rotationControls.js' %}"></script>
<script src="{% static 'image_view/js/paginator.js' %}"></script>
<style>

@import url({% static 'OpenLayers3/ol.css' %});

#rotation-controls {
  font-size: 1.2em;
  position: absolute;
}

#rotation-controls .ol-control {
  position: static;
  margin: 0.5em;
}

.ol-control button {
  cursor: pointer;
}

.rotation-slider-background {
  border-radius: 50%;
}

.rotation-slider-outer {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 8px solid rgba(0,60,136,.5);
  margin: 2px;
}

.rotation-slider-outer:hover {
  border-color: rgba(0, 60, 136, .7);
  cursor: pointer;
}

.rotation-slider-rectangle {
  height: 12px;
  width: 8px;
  margin-top: -8px;
  transform-origin: center bottom;
}

.rotation-slider-inner {
  width: 8px;
  height: 8px;
  background-color: #002266; /* TODO */
  border-radius: 50%;
}

#slideout-content {
  padding: 0px 10px;
  margin: 0;
  font-size:90%;
  top: -44px;
  left: 30px;
}

#loadImageSet {
  cursor: pointer;
}

#imageDisplayDiv {
  width: calc(75% - 30px);
  padding-left: 30px;
  margin: auto;
  height: calc(100vh - 130px);
}

#bottom-wrap {
  width: calc(100% - 30px);
  padding-top: 15px;
  display: inline-block;
  margin-left: 30px;
}

#numDisplay {
  margin-left: 30px;
  display: none;
}

#paginator button, #paginator select {
  display:inline-block;
  float: left;
  vertical-align: middle;
  line-height: 2em;
  max-width: 200px;
}

#linksDiv {
  width: calc(25% - 60px);
  padding: 0 30px 0 30px;
}

@media screen and (max-width: 620px) {
    #linksDiv {
        float: none;
        clear: both;
        width: calc(100% - 30px);
        margin-bottom: 40px;
    }

    #imageDisplayDiv {
        width: calc(100% - 30px);
        margin-bottom: 40px;
    }
}

#imageContainer {
    vertical-align: top;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    /*background-color: #f5f5f5;
    border: 1px solid black;*/
}

.imageWidget {
    display: inline-block;   
    background-color:#f5f5f5;     
    position:relative;
    margin: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow: hidden;
    padding: 0;
    border : 1px solid black;
}

.imageToolbar {
    display: block;
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:20;
    height: auto;
    width: 98%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.imageToolbarLabel {
  background-color: #f5f5f5;
  opacity: 0.8;
  padding: 1px 3px;
}

.imageContents {
    display: block;
    position:absolute;
    top:0px;
    left:0px;
    z-index:10;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

select {
  width: 100%;
}

</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
//var bannerUrl = "{% static 'image_view/icons/banner.png' %}";
var attributionFolderUrl = "{% static 'image_view/icons/' %}";
var attributionMode = 'large';
var attributionLocation = 'bottomright';
{% endblock %}

{% block javascript %} {% endblock %}

{% block content %}

<div id="mainContainer" class="main-content">
  <div class="slideout">
    <img id="loadImageSet" width="20" src="{% static 'tiepoint/icons/imageicon.png' %}" title="Load an Image Set."></img>
    <div id="slideout-content" class="slideout-content">
      <h3>Image Sets</h3>  
      <i>Load Image Sequence into the Editor</i>
      <div id="imageSetList">
        <select id="id_image_set">
          <option value=""></option>
        </select>
        <p id="imageStatus"></p>
      </div> <!-- #imageSetList -->
    </div> <!-- #slideout-content -->
  </div> <!-- .slideout -->
  
  <div id="imageDisplayDiv" class="left">
    <div id="imageContainer">           
    </div>
  </div>

  <div id="linksDiv" class="right">
    <h3>Links</h3>
    <p>
    <a href="{% url 'event_trigger:eventTriggerCreator' %}">Event Trigger Creator</a><br>
    <!--<a href="">several links to other apps</a><br>
    <a href="">indicating what the analyst can now do</a><br>
    <a href="">with the downloaded image data!</a><br>
    </p>
    <p>Maybe there should be some instructions as well, even a brief description of what each app does.</p>-->
  </div> <!-- #linksDiv -->
  <div id="bottom-wrap">
    <div id="paginator"></div>
    <div id="numDisplay">Display <input type="number" value="1" id="numImagesPerPage" min="1" max="8" style="width:25px"></input> Images Per Page</div>
  </div> <!-- #bottom-wrap -->
</div>
{% endblock %}