{% extends "main/common_header.html" %}
{% load staticfiles %}

<!-- Include the client side javascript code -->
{% block includes %}
<link rel="stylesheet" href="{% static 'OpenLayers3/ol.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'order/build_voxel_world/css/voxelWorldStyles.css' %}" type="text/css">

<script src="{% static 'order/build_voxel_world/js/formListeners.js' %}"></script>
<script src="{% static 'cesium/Build/Cesium/Cesium.js' %}"></script>
<script src="{% static 'OpenLayers3/ol-debug.js' %}"></script>

<script src="{% static 'main/js/coordinates.js' %}"></script>
<script src="{% static 'main/js/baseMap.js' %}"></script>
<script src="{% static 'order/build_voxel_world/js/mapView.js' %}"></script>

<style>

@import url({% static 'cesium/Build/Cesium/Widgets/shared.css' %});
@import url({% static 'cesium/Build/Cesium/Widgets/widgets.css' %});

</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

<div id="left">
  <form action="{% url 'order_build_voxel_world:make_order' %}" method="post">
      {% csrf_token %}
      <table>
      {{ form_base.as_table }}
      </table>

      <div id="bbox_degree" style="display: none;">
      <table>
      {{ form_degree.as_table }}
      </table>
      </div>

      <div id="bbox_meter" style="display: none;">
      <hr>
      <table>
      {{ form_meter.as_table }}
      </table>
      </div>

      <div id="bbox_unit" style="display: none;">
      <table>
      {{ form_unit.as_table }}
      </table>
      </div>

      <span id="message_helper"></span><br>
      <div id="buttons">
        <input id="submit" type="submit" value="Submit" />
        <button id="reset">Reset to original values</button>
      </div> <!-- #buttons -->
  </form>
</div> <!-- #left -->

<div id="right">
  <div id="mapWidget">

  </div> <!-- #mapWidget -->
</div> <!-- #right -->

</div> <!-- #mainContainer -->
{% endblock %}