{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Voxel Globe - Main {% endblock %}

{% block includes %}
{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}

{% endblock %}

{% block pageTitle %}<h2>Voxel Globe<h2>{% endblock %}

{% block content %}

<div class="main-content">
  <h3>Data</h3>
  <ul>
    <li><a href="{% url 'ingest:chooseSession' %}">Upload</a></li>
    <li><a href="{% url 'download:index' %}">Download</a></li>
  </ul>
  
  <h3>SatTel</h3>
  <ul>
    <li><a href="{% url 'create_site:make_order' %}">Create Site</a></li>
    <li><a href="{% url 'image_view:image_view' %}">Image View</a></li>
    <li><a href="{% url 'event_trigger:eventTriggerCreator' %}">Event Trigger Creator</a></li>
    <li><a href="{% url 'event_trigger:run_event_trigger' %}">Run Event Trigger</a></li>
    <li><a href="{% url 'event_trigger:event_trigger_results' %}">Event Trigger Results</a></li>
  </ul>
  
  <h3>Order</h3>
  <ul>
    <li><a href="{% url 'order_visualsfm:make_order_1' %}">Order SFM Processing</a></li>
    <li><a href="{% url 'order_tiepoint_registration:make_order_1' %}">Camera Georegistration</a></li>
    <li><a href="{% url 'build_voxel_world:make_order' %}">Build Voxel World</a></li>
    <li><a href="{% url 'order_height_map:make_order' %}">Order DEM Generation</a></li>
    <li><a href="{% url 'order_error_point_cloud:make_order' %}">Order Point Cloud with LE/CE</a></li>
    <li><a href="{% url 'order_threshold_point_cloud:make_order_1' %}">Order Point Cloud</a></li>
    <li><a href="{% url 'filter_number_observations:make_order' %}">Order Removal of Low Number of Observations</a></li>
  </ul>
  
  <h3>Tools</h3>
  <ul>
    <li><a href="{% url 'tiepoint:tiePointCreator' %}">Tie Point Creator</a></li>
    <li><a href="{% url 'voxel_viewer:display_voxel_world' %}">Cesium Point Cloud Viewer</a></li>
    <!--<li><a href="{% url 'voxel_viewer:display_potree_world' %}">Voxel Point Cloud Viewer on Map</a></li>-->
    <li><a href="{% url 'voxel_viewer:display_potree_viewer' %}">Potree Point Cloud Viewer</a></li>
  </ul>

  <h3>Analyze</h3>
  <ul>
    <li><a href="{% url 'order_tiepoint_error_calculation:make_order_1' %}">Georegistration Error Analysis</a></li>
    <li><a href="{% url 'dem_error:make_order' %}">Modeling Error Analysis</a></li>
  </ul>

  <h3>Misc</h3>
  <ul>
    <li><a href="{% url 'channel_test:channel_test' %}">Channels</a></li>
  </ul>

</div>

{% endblock %}
