{% extends "main/common_header.html" %}
{% load staticfiles %}

<!-- Include the client side javascript code -->
{% block includes %}

<style>
@import url("{% static 'main/css/form.css' %}");
</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

{% if action %}
<form method="post" action="{{ action }}">
{% else %}
<form method="post">
{% endif %}

    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input id="submit" type="submit" value="Submit" />
</form>


</div>
{% endblock %}