{% extends "main/common_header.html" %}

<!-- Include the client side javascript code -->
{% block includes %}

<style>
</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}
$("#submit").on('click', function(e) {
  $('select').each(function(index) {
    if (!$(this).val()) {
      $(this).addClass('required');
      e.preventDefault();
    }
  });
});

$('select').on('change', function(e) {
  if ($(this).val()) {
    $(this).removeClass('required');
  }
});
{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

<form method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input id="submit" type="submit" value="Submit" />
</form>


</div>
{% endblock %}