{% extends "main/common_header.html" %}

{% block title %}Voxel Globe - Order Point Cloud{% endblock %}

<!-- Include the client side javascript code -->
{% block includes %}

<style>
</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}

{% endblock %}

{% block pageTitle %}<h2>Order Point Cloud</h2> {% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

<form action="{% url 'order_error_point_cloud:make_order' %}" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>


</div>
{% endblock %}