{% extends "main/common_header.html" %}

<!-- Include the client side javascript code -->
{% block includes %}

<style>
</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">

<ul>
<li><a href="{% url 'download:tiepoint' %}">Tie Points</a></li>
<li><a href="{% url 'download:control_point' %}">Control Points</a></li>
<li><a href="{% url 'download:point_cloud_ply' %}">Point Cloud</a></li>
<li><a href="{% url 'download:cameras_krt' %}">Cameras</a></li>
</ul>
</div>
{% endblock %}